.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ---------------------------------------------------- */
/* ✅ اضافه کردن کلاس glass-effect در اینجا */
/* ---------------------------------------------------- */
.glass-effect {
    background-color: rgba(255, 255, 255, 0.15);
    /* رنگ پس‌زمینه با شفافیت */
    backdrop-filter: blur(10px);
    /* افکت بلور (شیشه ای) */
    -webkit-backdrop-filter: blur(10px);
    /* پشتیبانی از Safari */
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* مرز نازک */
    border-radius: 12px;
    /* گوشه‌های گرد */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* سایه ظریف */
    overflow: hidden;
    /* برای اینکه محتوا از گوشه‌های گرد بیرون نزند */
}